-- {{BRAND_EN}}_evo epc_* 表初始化（从 template_evo 复制结构）
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_dict` LIKE `template_evo`.`epc_dict`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_feature` LIKE `template_evo`.`epc_feature`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_group` LIKE `template_evo`.`epc_group`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_group_parts` LIKE `template_evo`.`epc_group_parts`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_image` LIKE `template_evo`.`epc_image`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_image_hotspot` LIKE `template_evo`.`epc_image_hotspot`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_parts` LIKE `template_evo`.`epc_parts`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_parts_id_epc_parts_id_relation` LIKE `template_evo`.`epc_parts_id_epc_parts_id_relation`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_vehicle` LIKE `template_evo`.`epc_vehicle`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_vehicle_group` LIKE `template_evo`.`epc_vehicle_group`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_vehicle_group_parts` LIKE `template_evo`.`epc_vehicle_group_parts`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_vehicle_id_btr_id_mj_relation` LIKE `template_evo`.`epc_vehicle_id_btr_id_mj_relation`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_vin` LIKE `template_evo`.`epc_vin`;
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`epc_vin_vehicle` LIKE `template_evo`.`epc_vin_vehicle`;

-- 特定表初始化
CREATE TABLE `{{BRAND_EN}}_evo`.`epc_image_path` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '自增主键',
  `analyser` varchar(32) NOT NULL COMMENT '解析器名称',
  `imageCode` varchar(255) NOT NULL DEFAULT '' COMMENT '图片编号(唯一标识)',
  `originPath` varchar(255) NOT NULL DEFAULT '' COMMENT '原始图片路径',
  `originSuffix` varchar(32) NOT NULL DEFAULT '' COMMENT '原始图片类型',
  `resultPath` varchar(255) NOT NULL DEFAULT '' COMMENT '目标图片路径',
  `resultSuffix` varchar(32) NOT NULL DEFAULT '' COMMENT '目标图片类型',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_originPath` (`originPath`),
  UNIQUE KEY `uk_originPath_resultPath` (`originPath`,`resultPath`),
  KEY `idx_analyser_originPath` (`analyser`,`originPath`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='EPC图片路径映射表';

-- raw 表初始化

CREATE TABLE IF NOT EXISTS `raw_catalog_mapping` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `catalog_origin` varchar(255) NOT NULL DEFAULT '',
  `catalog` varchar(12) DEFAULT NULL,
  `features` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_catalog` (`catalog_origin`,`catalog`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4;

CREATE TABLE IF NOT EXISTS `raw_group_data` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `channel` varchar(20) DEFAULT NULL,
  `catalog` varchar(255) DEFAULT NULL,
  `catalog_origin` varchar(255) NOT NULL DEFAULT '',
  `group_id` int(11) NOT NULL DEFAULT '0',
  `parent_group_id` int(11) NOT NULL DEFAULT '0',
  `group_level` int(11) DEFAULT NULL,
  `group_no` varchar(100) NOT NULL DEFAULT '',
  `group_order` int(11) DEFAULT NULL,
  `group_name` varchar(100) NOT NULL DEFAULT '',
  `group_desc` varchar(255) NOT NULL DEFAULT '',
  `group_image_id` varchar(100) NOT NULL DEFAULT '',
  `group_image_uri` varchar(255) NOT NULL DEFAULT '',
  `group_path` varchar(100) NOT NULL DEFAULT '',
  `group_path_origin` varchar(100) NOT NULL DEFAULT '',
  `parent_group_path` varchar(100) NOT NULL DEFAULT '',
  `group_features` json DEFAULT NULL,
  `group_epc_image_id` int(11) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `main_group_id` (`group_id`),
  KEY `idx_groupLevel` (`group_level`),
  KEY `uk_groupPath_catalog` (`group_path`,`catalog`) USING BTREE,
  KEY `idx_parentGroupPath_catalog` (`parent_group_path`,`catalog`) USING BTREE,
  KEY `idx_groupPathOrigin_catalogOrigin` (`group_path_origin`,`catalog_origin`) USING BTREE,
  KEY `group_id` (`group_id`,`catalog`),
  KEY `idx_group_image_id` (`group_image_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4;

CREATE TABLE IF NOT EXISTS `raw_parts_data` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `channel` varchar(20) DEFAULT NULL,
  `catalog` varchar(255) DEFAULT NULL,
  `catalog_origin` varchar(255) NOT NULL DEFAULT '',
  `group_path` varchar(100) DEFAULT NULL,
  `group_path_origin` varchar(100) NOT NULL DEFAULT '',
  `group_id` int(11) DEFAULT NULL,
  `epc_parts_id` int(11) DEFAULT NULL,
  `parts_order` varchar(255) DEFAULT NULL,
  `parts_position` varchar(255) DEFAULT NULL,
  `parts_code` varchar(255) DEFAULT NULL,
  `parts_quantity` varchar(255) DEFAULT NULL,
  `parts_name` varchar(255) DEFAULT NULL,
  `parts_remark` varchar(255) NOT NULL DEFAULT '' COMMENT '备注',
  `parts_features` json DEFAULT NULL,
  `v2_parts_id` varchar(32) NOT NULL DEFAULT '' COMMENT 'v2主名映射PartsId',
  PRIMARY KEY (`id`),
  KEY `idx_partscode_partsname` (`parts_code`,`parts_name`,`parts_remark`),
  KEY `idx_parts` (`parts_code`,`parts_position`),
  KEY `idx_catalog` (`catalog`),
  KEY `idx_groupPath_catalog` (`group_path`,`catalog`),
  KEY `idx_groupPathOrigin_catalogOrigin` (`group_path_origin`,`catalog_origin`) USING BTREE,
  KEY `idx_groupId_catalog_partsId` (`group_id`,`catalog`,`epc_parts_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4;

CREATE TABLE IF NOT EXISTS `raw_hotspot_data` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `channel` varchar(20) DEFAULT NULL,
  `catalog` varchar(255) DEFAULT NULL,
  `catalog_origin` varchar(255) NOT NULL DEFAULT '',
  `group_path` varchar(100) NOT NULL DEFAULT '',
  `group_path_origin` varchar(100) NOT NULL DEFAULT '',
  `group_id` int(11) DEFAULT NULL,
  `parts_position` varchar(200) DEFAULT NULL,
  `bottom_right_x` int(11) DEFAULT NULL,
  `top_left_x` int(11) DEFAULT NULL,
  `top_left_y` int(11) DEFAULT NULL,
  `bottom_right_y` int(11) DEFAULT NULL,
  `image_id` int(11) DEFAULT NULL,
  `group_image_id` varchar(100) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `idx_groupPath_catalog` (`group_path`,`catalog`),
  KEY `idx_groupPathOrigin_catalogOrigin` (`group_path_origin`,`catalog_origin`) USING BTREE,
  KEY `idx_catalog` (`catalog`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4;

CREATE TABLE IF NOT EXISTS `raw_ve` (
  `vehicle_model` varchar(255) DEFAULT NULL,
  `features` varchar(255) DEFAULT NULL,
  `brand` varchar(255) DEFAULT NULL,
  `catalog` varchar(255) DEFAULT NULL,
  `catalog_origin` varchar(255) NOT NULL DEFAULT ''
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- dc_parts_info_{{BRAND_EN}}
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`dc_parts_info_{{BRAND_EN}}` (
  `id`              int(11) unsigned NOT NULL AUTO_INCREMENT,
  `parts_id`        varchar(50)      NOT NULL DEFAULT '',
  `brand`           varchar(50)      NOT NULL DEFAULT '' COMMENT '车品牌',
  `dir_list`        varchar(50)      NOT NULL DEFAULT '' COMMENT '目录号',
  `image_code`      varchar(50)      NOT NULL DEFAULT '' COMMENT '图号',
  `image_id`        varchar(50)      NOT NULL DEFAULT '' COMMENT '图ID',
  `position`        varchar(50)      NOT NULL DEFAULT '' COMMENT '位置号',
  `parts_code`      varchar(50)      NOT NULL DEFAULT '' COMMENT '配件编码',
  `sub_group_no`    varchar(50)      NOT NULL DEFAULT '' COMMENT '子组号',
  `sub_group_name`  varchar(300)     NOT NULL DEFAULT '' COMMENT '分组名称',
  `sub_group_desc`  varchar(255)     NOT NULL DEFAULT '' COMMENT '分组备注',
  `main_group_no`   varchar(50)      NOT NULL DEFAULT '' COMMENT '主组',
  `main_group_name` varchar(255)     NOT NULL DEFAULT '' COMMENT '主组名称',
  `main_group_desc` varchar(255)     NOT NULL DEFAULT '' COMMENT '主组备注',
  `epc_name`        varchar(255)     NOT NULL DEFAULT '' COMMENT 'epc名称',
  `epc_desc`        varchar(255)     NOT NULL DEFAULT '' COMMENT 'epc备注',
  `install_num`     varchar(3)       NOT NULL DEFAULT '',
  `car_info`        varchar(255)     NOT NULL DEFAULT '',
  `specification`   varchar(255)     NOT NULL DEFAULT '' COMMENT '备注',
  `btr_parts_name`  varchar(255)     NOT NULL DEFAULT '',
  `feature_name`    varchar(255)     NOT NULL DEFAULT '',
  `direction`       varchar(255)     NOT NULL DEFAULT '',
  `status`          tinyint(11)      NOT NULL DEFAULT '1' COMMENT '状态 -1 删除 1 启用',
  `create_time`     datetime         NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time`     datetime         NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_parts_id` (`parts_id`) USING BTREE,
  KEY `idx_partscode_btrpartsname` (`parts_code`, `btr_parts_name`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4 COMMENT='配件表';

-- dc_parts_info_{{BRAND_EN}}_load（存放 ES 已有 parts_id，用于增量合并）
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`dc_parts_info_{{BRAND_EN}}_load` (
  `id`          int(11) unsigned NOT NULL AUTO_INCREMENT,
  `parts_id`    varchar(50)      NOT NULL,
  `createtime`  datetime         NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updatetime`  datetime         NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_parts_id` (`parts_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- dc_parts_info_{{BRAND_EN}}_new（与主表结构相同，用于增量输出）
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`dc_parts_info_{{BRAND_EN}}_new` (
  `id`              int(11) unsigned NOT NULL AUTO_INCREMENT,
  `parts_id`        varchar(50)      NOT NULL DEFAULT '',
  `brand`           varchar(50)      NOT NULL DEFAULT '' COMMENT '车品牌',
  `dir_list`        varchar(50)      NOT NULL DEFAULT '' COMMENT '目录号',
  `image_code`      varchar(50)      NOT NULL DEFAULT '' COMMENT '图号',
  `image_id`        varchar(50)      NOT NULL DEFAULT '' COMMENT '图ID',
  `position`        varchar(50)      NOT NULL DEFAULT '' COMMENT '位置号',
  `parts_code`      varchar(50)      NOT NULL DEFAULT '' COMMENT '配件编码',
  `sub_group_no`    varchar(50)      NOT NULL DEFAULT '' COMMENT '子组号',
  `sub_group_name`  varchar(300)     NOT NULL DEFAULT '' COMMENT '分组名称',
  `sub_group_desc`  varchar(255)     NOT NULL DEFAULT '' COMMENT '分组备注',
  `main_group_no`   varchar(50)      NOT NULL DEFAULT '' COMMENT '主组',
  `main_group_name` varchar(255)     NOT NULL DEFAULT '' COMMENT '主组名称',
  `main_group_desc` varchar(255)     NOT NULL DEFAULT '' COMMENT '主组备注',
  `epc_name`        varchar(255)     NOT NULL DEFAULT '' COMMENT 'epc名称',
  `epc_desc`        varchar(255)     NOT NULL DEFAULT '' COMMENT 'epc备注',
  `install_num`     varchar(3)       NOT NULL DEFAULT '',
  `car_info`        varchar(255)     NOT NULL DEFAULT '',
  `specification`   varchar(255)     NOT NULL DEFAULT '' COMMENT '备注',
  `btr_parts_name`  varchar(255)     NOT NULL DEFAULT '',
  `feature_name`    varchar(255)     NOT NULL DEFAULT '',
  `direction`       varchar(255)     NOT NULL DEFAULT '',
  `status`          tinyint(11)      NOT NULL DEFAULT '1' COMMENT '状态 -1 删除 1 启用',
  `create_time`     datetime         NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time`     datetime         NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_parts_id` (`parts_id`) USING BTREE,
  KEY `idx_partscode_btrpartsname` (`parts_code`, `btr_parts_name`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4 COMMENT='配件表';

-- dc_parts_image_{{BRAND_EN}}
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`dc_parts_image_{{BRAND_EN}}` (
  `id`          int(11) unsigned NOT NULL AUTO_INCREMENT,
  `image_id`    varchar(50)      NOT NULL DEFAULT '' COMMENT '图ID',
  `image_code`  varchar(50)      NOT NULL DEFAULT '' COMMENT '图号',
  `image_url`   varchar(255)     NOT NULL DEFAULT '' COMMENT '图片路径',
  `status`      tinyint(11)      NOT NULL DEFAULT '1' COMMENT '状态 -1 删除 1 启用',
  `create_time` datetime         NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime         NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_imageid_url` (`image_id`, `image_url`),
  KEY `idx_code` (`image_code`),
  KEY `idx_image_id` (`image_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4 COMMENT='配件图片表';

-- dc_parts_image_hotspot_{{BRAND_EN}}
CREATE TABLE IF NOT EXISTS `{{BRAND_EN}}_evo`.`dc_parts_image_hotspot_{{BRAND_EN}}` (
  `id`             int(11)     NOT NULL AUTO_INCREMENT,
  `image_id`       varchar(50) NOT NULL DEFAULT '' COMMENT '图ID',
  `position`       varchar(50) NOT NULL DEFAULT '' COMMENT '位置号',
  `top_left_x`     int(11)              DEFAULT NULL COMMENT '左上角x坐标',
  `top_left_y`     int(11)              DEFAULT NULL COMMENT '左上角y坐标',
  `bottom_right_x` int(11)              DEFAULT NULL COMMENT '右下角x坐标',
  `bottom_right_y` int(11)              DEFAULT NULL COMMENT '右下角y坐标',
  `status`         tinyint(11) NOT NULL DEFAULT '1' COMMENT '状态 -1 删除 1 启用',
  `create_time`    datetime    NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time`    datetime    NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  KEY `idx_image_id` (`image_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4 COMMENT='图片热点表';
